# Make a simple connection and execute a SQL statement

In [1]:
import sqlite3
from sqlite3 import Error

In [3]:
try:
    conn = sqlite3.connect('data\PeopleAndPets.db')
except Error as e:
    print(e)

In [5]:
cur = conn.cursor()
cur.execute("SELECT * FROM people")
rows = cur.fetchall()
for row in rows:
    print(row)
cur.close()

(1, 'John', 'Funk')
(2, 'David', 'Brown')
(3, 'Megan', 'Macdonnald')

In [11]:
cur = conn.cursor()
cur.execute("select people.first_name,people.last_name, count(pets.pet_name) from people,pets where people.person_id = pets.owner_id group by pets.owner_id ;")
rows = cur.fetchall()
for row in rows:
    print(row)
cur.close()

('John', 'Funk', 1)
('David', 'Brown', 2)

# so what did fetchall() return?

In [12]:
row

('David', 'Brown', 2)

In [13]:
type(row)

tuple

In [19]:
row[0]

'David'

In [20]:
row[0:2]

('David', 'Brown')

# we really want a pandas dataframe

In [22]:
import pandas as pd

In [25]:
command="select people.first_name,people.last_name, count(pets.pet_name) from people,pets where people.person_id = pets.owner_id group by pets.owner_id ;"
df = pd.read_sql_query(command,conn)

In [26]:
df

  first_name last_name  count(pets.pet_name)
0       John      Funk                     1
1      David     Brown                     2